<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Dawnload App for Android and mobile phone.</p>
                <img src="../clothe/">
                <img src="../clothe/appss.jpg">

            </div>
            <div class="footer-col-2">
                <img src="../clothe/red.png">
                <p>Our Purpose Is To Sustainable Make the Pleasure and
                Benefits of Sport Accassible to the Many</p>
               </div>
               <div class="footer-col-3">
                <h3>Useful Links</h3>
                    <li>coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YuuTube</li>
            </div>
    </div>
    
</div>
</div>
<br><br>

<a href="new video.html">home</a>