<p>Bag is what we use to store </p>
<a href="shrit.html">shrit page</a><br>
<a href="frist.html">frist page</a>
<style>
p{color: black;
    color: #fff;
}
a{background-color: brown;
}
body{background-color: antiquewhite;
}

#image img{
    width: 300px;
height: 250px;
margin-top: 30px;
margin-left: 50px;

}




.bag img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 50%;
    border: 2px white solid;

}
.bag{
    display: flex;
}
.bag h3{
    margin-top: 100px;
    margin-left: 20px;
}
.produt_img img{
    width: 250px;
    height: 150px;
    margin-top: 20px;
    margin-left: 50px;

}

.infor{
    margin-left: 50px;

}
.row{
    display: flex;
}
.col-md-4{
    
}
.item{
    /*border: 2px red solid;*/
}


</style>

<div id="image">
    <img src="images/pick3.jpg" alt="">
    <img src="images/pick4.jpg" alt="">
    <img src="images/pick1.jpg" alt="">
    <img src="images/pick2.jpg" alt="">
       
</div>
<div class="bag">
    <img src="images/pick3.jpg" alt="">
    <h3>@samondaco</h3>

</div>

<div class="container">

<div class="produt">
    <h4>list of goods</h4>

    <div class="row">

        <div class="col-md-4">

            <div class="item">
                
                <div class="produt_img">
                    <img src="images/pick2.jpg" alt="">

                </div>

                <div class="infor">
                    <h3> dell laptop la245</h3>
                    <h3>#1000</h3>
                    <p>original from dell. good to uses for you </p>
    
                </div>
            </div>

        </div>
        
        <div class="col-md-4">

            <div class="item">
                
                <div class="produt_img">
                    <img src="images/pick2.jpg" alt="">

                </div>

                <div class="infor">
                    <h3> dell laptop la245</h3>
                    <h3>#1000</h3>
                    <p>original from dell. good to uses for you </p>
    
                </div>
            </div>

        </div>
        
        <div class="col-md-4">

            <div class="item">
                
                <div class="produt_img">
                    <img src="images/pick2.jpg" alt="">

                </div>

                <div class="infor">
                    <h3> dell laptop la245</h3>
                    <h3>#1000</h3>
                    <p>original from dell. good to uses for you </p>
    
                </div>
            </div>

        </div>

    </div>
        <div class="row">
        <div class="col-md-4">

            <div class="item">
                
                <div class="produt_img">
                    <img src="images/pick2.jpg" alt="">

                </div>

                <div class="infor">
                    <h3> dell laptop la245</h3>
                    <h3>#1000</h3>
                    <p>original from dell. good to uses for you </p>
    
                </div>
            </div>

        </div>
        </div>
    </div>
</div>

</div>



<div>

    <div></div>
</div>