<style>
   .sam{
    position: sticky;
   }
   
   
   
   ul{
    display: flex;
    margin-left: 300px;
   }
   ul li {
    list-style: none;
    margin-left: 20px;
    
   }
   ul a{
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration: none;
   } 
   
   
   

</style>

<div class="sam">
    <ul>
        <li><a href="home.html">home</a></li>
        <li><a href="menu.html">menu</a></li>
        <li><a href="gallary.html">gallary</a></li>
        <li><a href="contact.html">contact</a></li>
        <li><a href="login.html">login</a></li>
    </ul> 
</div>


    




