<style>
.navigation{
    position: sticky;
    top: 0;
}
     
ul{
    display: flex;
    margin-left: 300px;
   }
   ul li {
    margin-left: 20px;
    list-style: none;
    margin-bottom: 20px;
    
   }
   ul a{
    text-decoration: none;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
   }

    .container .row .col-md-4 a{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-decoration: none;
        text-align: left;
        font-size: 18px;
    }
    .container .row .col-md-4 .content {
        height: 350px;
        width: 250px;
        border-radius: 8px;
        text-transform: capitalize;
        border: 4px solid whitesmoke ;
        margin-left: 50px;
    }
   
    .content:hover{
        background-color: gainsboro;
        
    }
    .imgbody img {
        width: 244px;
        height: 200px;
        border-radius: 8px;
    border: 4px solid white;
    }
       

    .col-md-4 .des .imgbody{
        text-align: left;
        color: #222;
        border: 4px solid white;
        background-color: whitesmoke;
        width: 240px;
        height: 135px;
    }
       
        
   
    .container .row{
        display: flex;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    h1{
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
    }

    .imgbody img{
        border: 3px solid whitesmoke ;
    }
    h3 span{
        color: green;
    }
    .des p{
        color: black;
    }


    
</style>

<div class="navigation">
    <ul>
        <li><a href="home.html">home</a></li>
        <li><a href="food.html">food</a></li>
        <li><a href="menu.html">menu</a></li>
        <li><a href="gallary.html">gallary</a></li>
    </ul>
</div>



<div class="container">
    <h1>different typs of fruits</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="">
            <div class="content">

                <div class="imgbody">
                    <img src="../images/fruit4.jpg" alt="">
                    <div class="des">
                        <h3><span>$100</span></h3>
                        <p>discription</p>
                        <p>shipping price</p>
                    </div>
                </div>
            </div>
        </a>
        </div>
    

    <div class="col-md-4">
        <a href="">
        <div class="content">

            <div class="imgbody">
                <img src="../images/fruit13.jpg" alt="">
                <div class="des">
                    <h3><span>$150</span></h3>
                    <p>discription</p>
                    <p>shipping price</p>
                </div>
            </div>
        </div>
    </div>
</a>

<div class="col-md-4">
    <a href="">
    <div class="content">

        <div class="imgbody">
            <img src="../images/fruit6 - Copy.jpg" alt="">
            <div class="des">
                <h3><span>$200</span></h3>
                <p>discription</p>
                <p>shipping price</p>
            </div>
        </div>
    </div>
</div>
</a>

<div class="col-md-4">
    <a href="">
    <div class="content">

        <div class="imgbody">
            <img src="../images/fruit7 - Copy.jpg" alt="">
            <div class="des">
                <h3><span>$100</span></h3>
                <p>discription</p>
                <p>shipping price</p>
            </div>
        </div>
    </div>
</div>
</a>
    </div>

<div class="container">
    <h1>different typs of foods</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="">
            <div class="content">

                <div class="imgbody">
                    <img src="../food.jpg/food13.jpg" alt="">
                    <div class="des">
                        <h3><span>$100</span></h3>
                        <p>discription</p>
                        <p>shipping price</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="col-md-4">
        <a href="">
        <div class="content">

            <div class="imgbody">
                <img src="../food.jpg/food15.jpg" alt="">
                <div class="des">
                    <h3><span>$150</span></h3>
                    <p>discription</p>
                    <p>shipping price</p>
                </div>
            </div>
        </div>
    </div>
</a>

<div class="col-md-4">
    <a href="">
    <div class="content">

        <div class="imgbody">
            <img src="../food.jpg/food19.jpg" alt="">
            <div class="des">
                <h3><span>$200</span></h3>
                <p>discription</p>
                <p>shipping price</p>
            </div>
        </div>
    </div>
</div>
</a>

<div class="col-md-4">
    <a href="">
    <div class="content">

        <div class="imgbody">
            <img src="../drinks.jpg/drink11.jpg"">
            <div class="des">
                <h3><span>$100</span></h3>
                <p>discription</p>
                <p>shipping price</p>
            </div>
        </div>
    </div>
</div>
</a>
    </div>
</div>


<div class="container">
    <h1>different typs of drinks</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="">
            <div class="content">

                <div class="imgbody">
                    <img src="../drinks.jpg/drink9.jpg" alt="">
                    <div class="des">
                        <h3><span>$100</span></h3>
                        <p>discription</p>
                        <p>shipping price</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="col-md-4">
        <a href="">
        <div class="content">

            <div class="imgbody">
                <img src="../drinks.jpg/drink5.jpg" alt="">
                <div class="des">
                    <h3><span>$150</span></h3>
                    <p>discription</p>
                    <p>shipping price</p>
                </div>
            </div>
        </div>
    </div>
</a>

<div class="col-md-4">
    <a href="">
    <div class="content">

        <div class="imgbody">
            <img src="../drinks.jpg/drink10.jpg" alt="">
            <div class="des">
                <h3><span>$200</span></h3>
                <p>discription</p>
                <p>shipping price</p>
            </div>
        </div>
    </div>
</div>
</a>

<div class="col-md-4">
    <a href="">
    <div class="content">

        <div class="imgbody">
            <img src="../drinks.jpg/drink6.jpg" alt="">
            <div class="des">
                <h3><span>$100</span></h3>
                <p>discription</p>
                <p>shipping price</p>
            </div>
        </div>
    </div>
</div>
</a>
    </div>
</div>

