<style> 
.zzz {
    color: blue;
    background-color: black;
    font-size: 40px;
    text-align: right;
}

.xxx {
    color: blueviolet;
    background-color: blanchedalmond;
    text-align: center;
    text-transform: uppercase;
}

.ccc {
    color: brown;
    background-color: chartreuse;
    font-style: italic;
    font-weight: 700;
}

.vvv {
    color: crimson;
    background-color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: darkgreen;
    background-color: antiquewhite;
    font-size: 40px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.mmm {
    color: darkred;
    background-color: aqua;
    font-size: 40px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.nnn {
    color: fuchsia;
    background-color: yellowgreen;
    font-size: 40px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.bbb {
    color: darkorange;
    background-color: magenta;
    font-size: 40px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
h4{
    border: 2px solid cyan;
    background-color: darkkhaki;
}

h3{
    color: #566361;
    border: 2px solid rgb(126, 41, 52) (5, 7, 119);
    background-color: rgb(18, 156, 18);
    
}

.bg-lesson{
    background-image: url("images/pick2.jpg");
}

.sam{
    background-image: url('images/pick1.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

</style>


<h3 class="zzz">lesson1 what</h3> 
<p class="xxx">is</p>
<p class="ccc">development</p>
<h3 class="vvv">development</h3>
<h2>my name is </h2>
<h2>David</h2>

<div class="mmm">
    <h3><h3>watch</h3></h3>
    <p> watch this movies</p>
    <p> movies price 1 thousand</p>
    <h3>address no 10 forolagba street</h3>
    <h4>price <span>100</span></h4>
</div>

<div class="nnn">
    <p><h4>the</h4></p>
</div>

<div class="bbb">
    <h4><h2>movies</h2></h4>
</div>

<h4>who</h4>
<h3>to</h3>
<h4>learn</h4>
<h3>kjfdjh</h3>

<div class="bg-lesson">
    <p>user name</p>
    <p>pasword</p>

</div>

<div class="sam">
    <p>samuel</p>
    <p>is</p>
    <p>my</p>
    <p>name</p>
</div>