<link rel="stylesheet" href="../css/style2.css">
<div class="container">

    <div class="row">

        <div class="col-6">

            <div class="imgbody">
                <img src="../drinks.jpg/drink9.jpg" alt="">
                
            </div>

        </div>
        <div class="col-6">
           <div>
            <h1>sam kenchen</h1>
            <h2>decon smooth</h2>
            <h2>price $10 <span>$12</span></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus porro temporibus ex, harum labore, quaerat, mollitia dolorem maxime suscipit tempore sequi libero! Eos in blanditiis sapiente ullam perspiciatis non vero.</p>
            <button class="btn btn-danger">order now</button>
            
        </div>
        </div>

      </div>
 </div>