<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img{
        width: 500px;
        height: 300px;
    }
    h3{
        background-color: blue;
        width: 250px;
        text-align: center;
    }
    li{
        background-color: red;
    }
</style>
<body>
    <h3>welcome to sniper academy</h3>
    <a href="fawaz.html">go to here</a>
    <ol>
        <li> <a href="name.html">name</a></li>
        <li><a href="class.html">class</a></li>
        <li> <a href="age.html">age</a></li>
        <li> <a href="occupation.html">occupation</a></li>
        <li> <a href="payrange.html">payrange</a></li>
    </ol>
    <ul>
        <li>goods</li>
        <li>customer</li>
        <li>delivery</li>
        <li>state</li>
        <li>discover
        </li>
    </ul>
    <img src="../images/fruit13.jpg" alt="">

</body>
</html>