<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <h2>hello</h2>
    <h3>hello</h3>
    <h4>hello</h4>
    <h5>hello</h5>
    <h6>hello</h6>
    <p>   search google or type url
    </p>
    <a href="https://chrome.google.com/webstore?hl=en">binance.com</a>
    <a href="fawaz2.html">go to here</a>
    <img src="../images/fruit10.jpg" alt="">
    
</body>
</html>