<style>
  
.container .row{
    display: flex;
}

.container .row .col-md-4 a{
       text-align: left;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
    }




    .container .row .col-md-4 .content{
        height: 350px;
        width: 250px;
        border-radius: 8px;
        border: 4px solid white;
        text-transform: capitalize;
        margin-left: 1px;
       
    }

    .container :hover{
      background-color: springgreen;  
    }


    .imgbody{
        width: 100%;
        height: 200px;

    }
    .imgbody img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 4px solid white;
       
    }

    .col-md-4 .des{
        
        text-align: left;
        color: #222;
        border: 4px solid white;
        background-color: whitesmoke;
        width: 100%;
    }

    .container :hover{
      background-color: springgreen;  
    }

    span{
        color: yellowgreen;
        /*margin-left: 2px;*/
    }


</style>

<div class="container">
    <div class="row">

        <div class="col-md-4">
   <a href="">
    <div class="content">
        
        <div class="imgbody">
            <img src="../food/food5.jpg" alt="">
        </div>
        <div class="des">
            <h4><span>$1000</span></h4>
            <p>description</p>
            <p>shipping cost</p>
        </div>
         </div>
   </a>

       
    </div>

        <div class="col-md-4">
            <a href="">
    <div class="content">
        <div class="imgbody">
            <img src="../food/food22.jpg" alt="">
        </div>
        <div class="des">
          <h4><span>$1500</span></h4>
          <p>description</p>
          <p>shipping cost</p>  
        </div>
    </div>
            </a>
        </div>

        
        <div class="col-md-4">
            <a href="">
    <div class="content">
        <div class="imgbody">
            <img src="../food/food11.jpg" alt="">
        </div>
        <div class="des">
          <h4><span>$500</span></h4>
          <p>description</p>
          <p>shipping cost</p>  
        </div>
    </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="">
    <div class="content">
        <div class="imgbody">
            <img src="../food/food18.jpg" alt="">
        </div>
        <div class="des">
          <h4><span>$500</span></h4>
          <p>description</p>
          <p>shipping cost</p>  
        </div>
    </div>
            </a>
        </div>

    </div>
</div>



<a href="menu.html">menu</a>