<style>
    body{
        background-color: whitesmoke;
    }

    .h1{
        text-align:center ;
        text-transform: capitalize;
    }
    .head{
        margin-bottom: 20px;
        margin-left: 10px;
        
        width: 230px;
        height: 220px;
    }
    .label{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    button{
        background-color: lightblue;
        color: white;
        border: none;
        height: 30px;
        width: 70px;
        border-radius: 3px;
        cursor: pointer;
    }

</style>
<h1 class="h1">regestration form </h1> 
<div class="head">
    <form action="">

       <div>
        <label for="phone no">Frist Name</label>
        <input type="text">
    </div>

    <div>
        <label for="phone no">Last Name</label>
        <input type="text">
    </div>

    <div>
        <label for="phone no">surnane</label>
        <input type="text">
    </div>

    <div>
        <label for="">Date Of Brith</label>
        <input type="date">
    </div>
    
    <div>
        <label for="">Phone On</label>
        <input type="text">
    </div>

    <div>
        <label for="">password</label>
        <input type="password">
    </div>

    <div>
        <input type="" placeholder="user name">
    </div>

    

<div>
    <input type="radio" name="">
    <label for="">male</label>
    <input type="radio" name="dender">
    <label for="">female</label>
</div>

<div class="label">
    <p>Current Place You Live</p>
<label for="">Nigeria</label>
<input type="checkbox" name="" value="">

<label for="">Africa</label>
<input type="checkbox" name="" value="">

<label for="">Other country</label>
<input type="checkbox" name="" value="">
</div>


<div>   
    <button>submit </button>
    <input type="submit" value="send">
</div>

</form>
</div>