<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>google -search</title>
</head>

<style>
body{background-color: brown;
   } 

p{
background-color: blue;
}    
    

</style>


Microsoft Cares About Your Privacy
my is samuel. i am in lagos ,studying in grammar school js 3

Microsoft and our third-party vendors use cookies to store and access information such as unique IDs to deliver, maintain and improve our services and ads. If you agree, MSN and Microsoft Bing will personalise the content and ads that you see. You can select ‘I Accept’ to consent to these uses or click on ‘Manage preferences’ to review your options and exercise your right to object to Legitimate Interest where used.  You can change your selection under ‘Manage Preferences’ at the bottom of this page.

We and our partners process data to:
Use precise geolocation data and actively scan device characteristics for identification. This is done to store and access information on a device and to provide personalised ads and content, ad and content measurement, audience insights and product development.


<body>
    
<h1>hi</h1>
<h2>hello</h2>
<h3>my</h3>
<h4>jhg</h4>
<h5>jhg</h5>
<h6>fds</h6>

<h3>Microsoft Cares About Your Privacy</h3>
<p>my is samuel. i am in lagos ,studying in grammar school js 3</p>
<h3>We and our partners process data to:</h3>
<p>Use precise geolocation data and actively scan device characteristics for identification. This is done to store and access information on a device and to provide personalised ads and content, ad and content measurement, audience insights and product development.
<h3>What is presentation package</h3>
HARD WARE
<a href="second.html">Types of Hard Ware</a> <br>
<a href="account.html">package</a>
</body>
</html