<style>
    div img{
        height: 200px;
        width: 200px;
        margin-left: 6px;
        margin-bottom: 6px;
    }

</style>

<div>
    <img src="../images/frut8.jpg" alt="">
    <img src="../drinks.jpg/drink12.jpg" alt="">
    <img src="../images/fruit10.jpg" alt="">
    <img src="../drinks.jpg/drink11.jpg" alt="">
    <img src="../images/fruit12.jpg" alt="">
    <img src="../food/food1.jpg" alt="">
    <img src="../images/fruit14.jpg" alt="">
    <img src="../food/food18.jpg" alt="">
    <img src="../drinks.jpg/drink6.jpg" alt="">
    <img src="../food/food21.jpg" alt="">
    <img src="../drinks.jpg/drink9.jpg" alt="">
    <img src="../images/fruit5.jpg" alt="">
</div>
<a href="regestration.html">regestration</a>