<style>
    table{
        background-color: darkgray;
    }

    input[type=button]{
        background-color: whitesmoke;
    }

.body{
    margin: 20px;
}
</style>
<table>
    <tr>
        <td colspan="3"><input type="text"></td>
    </tr>
        <tr>
            <td><input type="button" value="1"></td>
            <td><input type="button" value="2"></td>
            <td><input type="button" value="3"></td>
            <td><input type="button" value="4"></td>
                
        </tr>
    
        <tr>
            <td><input type="button" value="5"></td>
            <td><input type="button" value="6"></td>
            <td><input type="button" value="7"></td>
            <td><input type="button" value="8"></td>
        </tr>
    
        <tr>
            <td><input type="button" value="9"></td>
            <td><input type="button" value="0"></td>
            <td><input type="button" value="."></td>
            <td><input type="button" value="+"></td>
        
        </tr>
    
        <tr>
            <td><input type="button" value="-"></td>
            <td><input type="button" value="*"></td>
            <td><input type="button" value="\"></td>
            <td><input type="button" value="="></td>
        </tr>
    </table>
   

    <div class="body">
        <form action="">
            <div>
                <input type="radio" name="">
                <label for="">male</label>
                <input type="radio" name="dender">
                <label for="">female</label>
            </div>
            
            
            <div>
                <label for="phone no">phone no</label>
                <input type="text">
            </div>
            
            <div>
                <label for="">full name</label>
                <input type="text">
            </div>
            
        <div>
            <label for="">date of brith</label>
            <input type="text">
        </div>
        
            <div>
                <button>loging</button>    
                <button>submit</button>
            </div>
            
        </form>
        </div>
        
        
        <label for="">benz</label>
        <input type="checkbox" name="car" value="benz">
        
        <label for="">toyota</label>
        <input type="checkbox" name="car" value="toyota">
        
        <label for="">hoder</label>
        <input type="checkbox" name="car" value="hoder">
        
<br><br><br><br>
<a href="gallary.html">gallary</a>



<div>
    <video src="../video/html and css tutorial/How To Create A Website using HTML & CSS _ Step-by-Step Tutorial.mp4"></video>
</div>