<style>
    table{
        background-color: black;
    }

    input[type=button]{
        background-color: white;
    }

    input[type=text]{
        background-color: antiquewhite;
    }

    .student{
        margin-top: 30px;
    }
</style>

<table>
    <tr>
        <td colspan="3"><input type="text"></td>
        <td><input type="button" value="c"></td>
    </tr>

    <tr>
        <td><input type="button" value="1"></td>
        <td><input type="button" value="2"></td>
        <td><input type="button" value="3"></td>
        <td><input type="button" value="4"></td>
            
    </tr>

    <tr>
        <td><input type="button" value="5"></td>
        <td><input type="button" value="6"></td>
        <td><input type="button" value="7"></td>
        <td><input type="button" value="8"></td>
    </tr>

    <tr>
        <td><input type="button" value="9"></td>
        <td><input type="button" value="0"></td>
        <td><input type="button" value="."></td>
        <td><input type="button" value="+"></td>
    
    </tr>

    <tr>
        <td><input type="button" value="-"></td>
        <td><input type="button" value="*"></td>
        <td><input type="button" value="\"></td>
        <td><input type="button" value="="></td>
    </tr>
</table>


<div class="student">
<form action="">
    <div>
        <input type="radio" name="sex">
        <label for="">male</label>
        <input type="radio" name="sex">
        <label for="">female</label>
    </div>
    
    
    <div>
        <label for="phone no">phone no</label>
        <input type="text">
    </div>
    
    <div>
        <label for="">username</label>
        <input type="text">
    </div>
    
<div>
    <label for="">Address</label>
    <input type="text">
</div>

    <div>
        <button>send</button>
        <button>loging</button>    
    </div>
    
</form>
</div>


<label for="">benz</label>
<input type="checkbox" name="car" value="benz">

<label for="">benz</label>
<input type="checkbox" name="car" value="benz">

<label for="">benz</label>
<input type="checkbox" name="car" value="benz">
