<style>


.student{
    color: aliceblue;
    background-color: chartreuse;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
width: 300px;
height: 250px;
}

#one{
    color: white;
    background-color: rgba(42, 165, 48, 0.486);
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
width: 300px;
height: 250px;
}


#two{
    color: blueviolet;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
width: 300px;
height: 250px;

}
input{
    width: 300px;
   
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px ;

margin-right: 10px;


}
#dan{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-left: 50px;

}




</style>

<div id="student" class="student">
    <h3>student information</h3>
 <form action="">
    
<div id="name">
    <input type="text" placeholder="full name">
    </div>
    
    <div>
    <input type="text" placeholder="date of brith">
    </div>
    
    <div>
    <input type="text" placeholder="address">
    </div>
    
    <div>
        <input type="text" placeholder="restration no">
    </div>
    
    <div>
    <input type="text" placeholder="class">
    </div>
    
    <button>submit</button>
 </form>
</div>




<div id="one">
<form action="">
    <label for="">full Name</label>
<input type="text">
<div>
    <label for="">date of brith</label>
    <input type="text">
</div>

<div>
  <label for="">restration</label> 
  <input type="text"> 
</div>

<div>
<label for="">class</label>
<input type="text">
</div>

<div>
<label for="">address</label>
<input type="text">
</div>
<button>submit</button>

</form>

</div>



<div id="two">
    <form action="">
        <div>
            <label for="">full Name</label>
            <input type="text">
        </div>
        
<div>
    <label for="">date of brith</label>
    <input type="text">
</div>

<div>
  <label for="">restration</label> 
  <input type="text"> 
</div>

<div>
<label for="">class</label>
<input type="text">
</div>

<div>
<label for="">address</label>
<input type="text">
</div>

<button>submit</button>


    </form>
</div>


<div id="dan">
<img src="image/pick3" alt="">
<img src="image/pick1" alt="">



</div>



