<style>
body{background-color: greenyellow;
}
div{background-color: brown;
}
input{background-color: blue;
}
input{color: black;
}




</style>


<div>
    <input id="one" placeholder="frist name"><br>
<input type="text" placeholder="last name"><br>
<input type="text" placeholder="enter username"><br>
<input type="button" value="log in"><br>

</div>


<br><br><br>

<div>
<input type="text" placeholder="frist name"><br>
<input type="text" placeholder="last name"><br>
<input type="text" placeholder="enter username"><br>
<input type="button" value="log in"><br>

</div>

<div>
    <img src="images/pick3.jpg" alt="">
    <img src="images/pick4.jpg" alt="">
    <img src="images/pick1.jpg" alt="">
    <img src="images/pick2.jpg" alt="">
           
</div>


<input name="gender" type="radio">
<label for="">male</label>
<input name="gender" type="radio" >
<label for="">female</label>

<br><br>

<input type="radio" name="sex">
<label for="">male</label>
<input type="radio" name="sex">
<label for="">female</label>


<select name="team" id=""> 
    <option value="">tobi</option>
    <option value="">joshef</option>
    <option value="">David</option>
</select>



