<style>
    .imgbody img{
        width: 300px;
        height: 270px;
        position: absolute;
        bottom: 0%;
        right: 30%;
        top: 0%;
        
    }
    .imgbody2 img{
        width: 300px;
        height: 270px;
        position: static;
    }

    .imgbody3 img{
        width: 300px;
        height: 270px;
        position: relative;
        left: 30%;
    }
    .ul {
        position: fixed;
        right: 20%;
        bottom: 0;
        display: flex;
    }

    ul li{
        margin-left: 6px;

    }
    .ul{
        position: fixed;
        top: 0;
        left: 25%;
        display: flex;
    }
    
    ul{
    display: flex;
    margin-left: 20px;
   }
   ul li {
    list-style: none;
    margin-left: 10px;
   }
   .ul li{
    font-size: 25px;

    text-transform: capitalize;
   }
   
   ul{
    display: flex;
    margin-left: 20px;
   }
   ul li {
    list-style: none;
    margin-left: 10px;
   }
   .ul li{
    font-size: 25px;

    text-transform: capitalize;
   }     
    
    





</style>

<div class="ul">
<ul>
    <li>list</li>
    <li>of</li>
    <li>name</li>
</ul>

</div>
<div class="imgbody">
    <img src="../images/food27.jpg" alt="">
</div>
<div class="imgbody2">
    <img src="../drinks.jpg/drink11.jpg" alt="">
</div>

<div class="imgbody3">
    <img src="../images/fruit9.jpg" alt="">
</div>

<ul>
    <li>food</li>
    <li>drink</li>
    <li>fruit</li>
</ul>
<br><br>
<a href="computer.html">maths</a>
