<style>
    .header{
        background-color: green;
        height: 80px;
    }
    ul{
        display: inline-flex;
    }
    ul li{
        padding: 20px;
        margin: 10px;
        list-style: none;
    }
    ul li:hover{
        background-color: brown;
    }
    ul li a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
    }
    ul li a:hover{
        color: fuchsia
        

    }
</style>

<nav class="header">
<ul>
    <li><a href="">men's</a></li>
    <li><a href="">women's</a></li>
    <li><a href="">boys</a></li>
    <li><a href="">girls</a></li>
    <li><a href="">children</a></li>
    <li><a href="">ladies</a></li>
</ul>
</nav>
<video>
    <source src="/food/cartoon1.mp4">
</video>
<div class="welcome">
    <h3>this for good background-color understanding</h3>
</div>