<style>
    .vid video{
        width: 100%;
      z-index: -1;
    }

    .text{
    position: fixed;
    top: 3%;
}
     
ul{
    display: flex;
    margin-left: 300px;
   }
   ul li {
    margin-left: 20px;
    list-style: none;
    margin-bottom: 20px;
   }
   ul a{
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    color: red;
   }

</style>
<div class="vid">
    <video src="../images/vidio3.mp4" autoplay loop muted plays-inline type="video/mp4"></video>
</div>
<div class="text">
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="gallary.html">Gallary</a></li>
        <li><a href="regestration.html">Regestration</a></li>
        <li><a href="About us">About Us</a></li>
    </ul>
</div>