<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/css/page-maker.css">
</head>
<body> 

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
            <img src="../images/fruit6 - Copy.jpg" width="60px"> 
            </div>
           <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Account</a></li>
    
            </ul>
           </nav> 
           <img src="" alt="">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Give Your Workout <br> A New Style!</h1>
                <p>Success isn't always about greatness. it's about consistency. Consistent <br> hard work goins success. Greatness will come.</p>

                <a href="" class="btn">Explore Now &#8594;</a>
            </div>

            <div class="col-2">
                <img src="../drinks.jpg/video/football4.jpeg" alt="">
            </div>
        </div>
    </div>
</div>


<!------ featured categories ------>


<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="../clothe/shoe2.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="../clothe/shoe3.jpeg" alt="">
            </div>
            <div class="col-3">
                <img src="../clothe/clothe2.jpeg" alt="">
            </div>
        </div>
    </div>
    </div>
    


<!------ featured products ------>




<div class="small-container">
    <h2 class="title" id="title">featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="page.html">
            <img src="../clothe/tshirt.jpg">
        <h4>Red Printed T-Shit</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
        </div>
        <p>$60.00</p>
    </a>  
        </div>
    
              
        <div class="col-4">
            <a href="page+s.html">
            <img src="../clothe/shirt.jpeg">
        <h4>Red Printed T-Shit</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
        </div>
        <p>$60.00</p>  
    </a>
        </div>
              
        <div class="col-4">
            <a href="page12.html">
            <img src="../clothe/shoe.jpeg">
        <h4>Red Shoe</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star-half-o"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$50.00</p>  
    </a>
        </div>
              
        <div class="col-4">
            <a href="pageesa.html">
            <img src="../clothe/shoe1.jpeg">
        <h4>White Shoe</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$30.00</p>  
    </a>
        </div>
              

    </div>



    
    <div class="row">
        <div class="col-4">
            <a href="pagedws.html">
            <img src="../clothe/slippers.jpeg">
        <h4>Red Slipper</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$40.00</p>
    </a>  
        </div>
              
        <div class="col-4">
            <a href="pages.html">
            <img src="../clothe/sock2.jpeg">
        <h4>Blue Sock</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$30.00</p>  
    </a>
        </div>
              
        <div class="col-4">
            <a href="pogd.html">
            <img src="../clothe/trouser1.jpeg">
        <h4>Orange Trouser</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$50.00</p>  
    </a>
        </div>
              
        <div class="col-4">
            <a href="pose.html">
            <img src="../clothe/watch1.jpeg">
        <h4>Gold watch</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$60.00</p>  
    </a>
        </div>
              

    </div>




    <div class="row">
        <a href="poseq.html">
        <div class="col-4">
            <img src="../clothe/slippers2.jpeg">
        <h4>Slippers</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$40.00</p> 
    </a> 
        </div>
              
        <div class="col-4">
            <a href="posi.html">
            <img src="../clothe/sock.jpeg">
        <h4>Socks</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$30.00</p>  
    </a>
        </div>
              
        <div class="col-4">
            <a href="pade.html">
            <img src="../clothe/trouser2.jpeg">
        <h4>Yellow Trouser</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
        </div>
        <p>$50.00</p>  
    </a>
        </div>
              
        <div class="col-4">
            <a href="passss.html">
            <img src="../clothe/watch.jpg">
        <h4>Binbond Watch</h4>
        <div class="rating">
            <ul>
                <i class="fa-solid fa-star"></i>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
        </div>
        <p>$60.00</p>  
        </a>
        </div>
              

    </div>

</div>




<!-------offer------->


<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../clothe/band.jpeg" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on RedStore</p>
                <h1>Smart Band 4</h1>
                <small>The Mi Smart Band 4 features a 39.9% larger
                    (than Mi Band 3) AMOLED color <br> full-touch display with
                    adjustable brightness, so everything is clear as can 
                be.</small><br>
                <a href="" class="btn">Buy Now  &#8594;</a>
            </div>

        </div>
    </div>
</div>


 <!---------testimonial--------->


 <div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                 <p>Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever</p>
                 <ul>
                    <i class="fa-solid fa-star"></i>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                 </ul>
                 <img src="../clothe/pick.jpeg">
                 <h3>Mabel Joe</h3>
            </div>
            
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                 <p>Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever</p>
                 <ul>
                    <i class="fa-solid fa-star"></i>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                 </ul>
                 <img src="../clothe/picks.jpeg" alt="">
                 <h3>Mike Smith</h3>                
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                 <p>Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever</p>
                 
                 <ul>
                    <i class="fa-solid fa-star"></i>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                 </ul>
                 <img src="../clothe/pick1.jpeg">
                 <h3>Sean Parker</h3>
            </div>
        </div>
    </div>
 </div>


<!---------brands--------->

<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="../clothe/power.png">
            </div>
            <div class="col-5">
                <img src="../clothe/dano.jpeg">
            </div>
            <div class="col-5">
                <img src="../clothe/cocacola.png">
            </div>
            <div class="col-5">
                <img src="../clothe/nike.jpeg">
            </div>
            <div class="col-5">
                <img src="../clothe/pay.png">
            </div>
        </div>
    </div>
</div> 


<!-------footer--------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Dawnload App for Android and mobile phone.</p>
                <img src="../clothe/app.png">
                <img src="../clothe/appss.jpg">

            </div>
            <div class="footer-col-2">
                <img src="../clothe/red.png">
                <p>Our Purpose Is To Sustainable Make the Pleasure and
                Benefits of Sport Accassible to the Many</p>
               </div>
               <div class="footer-col-3">
                <h3>Useful Links</h3>
                    <li>coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YuuTube</li>
            </div>
    </div>
    
</div>
</div>
</body>
</html>


