<style>
    
    img{
        width: 400px;
        height: 400px;
    }
    .row{
        display: flex;
        margin: 30px;
    }
    .col-6 h2{
        margin-left: 25px;
        font-size: 28px;
    }
    h2 span{
        text-decoration: line-through;
        color: green;
    }
    
    h1 {
        margin-left: 25px;
        text-transform: capitalize;
        color: #333;
    }
    p{
        margin-left: 25px;
    }
    img{
        border-radius: 30px;
        border: solid rgb(9, 61, 63);
    }
    button{
        margin-left: 25px;
        background-color: green;
        font-size: 15px;
        text-transform: capitalize;
        color: white;
        margin-top: 20px;
    }
</style>
<div class="container">

    <div class="row">

        <div class="col-6">

            <div class="imgbody">
                <img src="../clothe/watch.jpg" alt="">
                
            </div>

        </div>
        <div class="col-6">
           <div>
            <h1>sam kenchen</h1>
            <h2>Binbond Watch</h2>
            <h2>price $60 <span>$65</span></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus porro temporibus ex, harum labore, quaerat, mollitia dolorem maxime suscipit tempore sequi libero! Eos in blanditiis sapiente ullam perspiciatis non vero.</p>
            <button class="btn btn-danger">order now</button>
            
        </div>
        </div>

      </div>
 </div>
