<style>
    img{
        height: 300px;
        width: 300px;
    }
     .aaa{
        position: fixed;
        top: 20%;
        left: 700px;
     }

     .bbb{
        position: static;
        right: 0;
        bottom: 0;
     }

     .ccc{
        position: relative;
        left: 40%;
     }
</style>

<div class="aaa">
    <img src="../drinks.jpg/drink10.jpg" alt="">
</div>

<div class="bbb">
    <img src="../food.jpg/food19.jpg" alt="">
</div>

<div class="ccc">
    <img src="../images/pick5.jpg" alt="">
</div>