<style>
    img{
        height: 250px;
        width: 250px;
        position: absolute;
        right: 38%;
        bottom: 32%;
        border-radius: 20px;
        display: block;
    }
    div{
        width: 300px;
        overflow: hidden;
        flex-wrap: wrap;
        
    }
p span{
    stroke: green;
}
    

</style>
<img src="../images/food27.jpg" alt="">
<div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolor in alias non incidunt magni? Architecto, ipsam praesentium iste possimus dicta quasi voluptatem nobis deleniti accusantium ab. Non, soluta a.</p>
<p >price $200 <span>$120</span></p>
</div>
