<style>
    body{
        background-color: darkblue;
       
    }
    h1{
        text-align:center ;
        text-transform: capitalize;
    }
    .head{
        margin-bottom: 20px;
        margin-left: 10px;
        color: wheat;
        width: 80px;
        height: 300px;
    }
    div{
        margin-bottom: 10px;
        color: wheat;
    
    }

    .label{
        color: wheat;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    button:hover{
        color: whitesmoke;
        background-color: grey;
    }
    .fa{
        color: white;
        font-size: 20px;
        margin-left: 10px;
    }
    a{
        color: wheat;
    }
    
</style>
<script src="https://kit.fontawesome.com/561ecddad4.js" crossorigin="anonymous"></script>

<i class="fa fa-car" aria-hidden="true"></i>
<i class="fa fa-bell" aria-hidden="true"></i>

<div class="head">
    <form action="">        
        <h1>regestration form</h1>
        <div>
            <label for="phone no">Full Name</label>
            <input type="text">
        </div>
        
        <div>
            <label for="">Date Of Brith</label>
            <input type="text">
        </div>
        
    <div>
        <label for="">Phone On</label>
        <input type="text">
    </div>

    <br>
    <div>
        <input type="radio" name="">
        <label for="">male</label>
        <input type="radio" name="dender">
        <label for="">female</label>
    </div>
        
    </form>
    </div>

    <div class="label">
        <p>Current Place You Live</p>
    <label for="">Nigeria</label>
    <input type="checkbox" name="car" value="benz">
    
    <label for="">Africa</label>
    <input type="checkbox" name="car" value="toyota">
    
    <label for="">Other country</label>
    <input type="checkbox" name="car" value="hoder">
    </div>

    
    <div>   
        <button>submit </button>
    </div>

<a href="about us.html">About us</a>


   