<style>
body{
    background-color: aquamarine;
}
#three{background-color: brown;

}
input{color: green;

}
label{
    color: red;
}
#four{
    color: black;
}
#one{
color: brown;
}





</style>


<label id="four">frist name</label>
<input type="text">
<br>
<label id="one">last name</label>
<input type="text">
<br>
<label for="">phone no</label>
<input type="text">
<br>
<button>submit</button>

<br><br>

<div id="three">
    <input type="text" placeholder="frist name"><br>
<input type="text" placeholder="last name"><br>
<input type="text" placeholder="enter user name"><br>
<input type="button" value="log in"><br>
</div>

<input type="text" placeholder="frist name"><br>
<input type="text" placeholder="last name"><br>
<input type="text"n placeholder="enter user name"><br>
<input type="button" value="log in"><br>











