<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body{
    background-color: black;
}
p{
    background-color: blueviolet;
}
a{
    background-color: hotpink;
}


</style>

<body>
<p>Types of hare ware</p>
<p>Hare Ware</p>
<p>Soft Ware</p>
<P>People Ware</P>
<a href="frist.html">frist page</a><br>
<a href="account.html">account page</a>

</body>
</html>