<h3>shoe</h3>
<a href="shrit.html">shirt page</a>

<li><a href="bag.html">bag page</a></li>

<style>
body{background-color: bisque;
}
div{background-color: greenyellow;
}
li{background-color: aquamarine;
}
h3{background-color: darksalmon;
}
h1{background-color: violet;
}
h2{background-color: aliceblue;
}


</style>


<div>

   <h1>topic:html</h1>
   <h2>learning tags </h2>
   <ul>
    <li>english</li>
    <li>maths</li>
    <li>biologu</li>
    <li>history</li>
   </ul>
</div>




<div>
<h3>subject</h3>
<h2>are</h2>
    <ul>
<li>computer</li>
<li>maths</li>
<li>english</li>
    </ul>
</div>



<div>
    <h3>information about anythin</h3>
    <div>
        <h3>things to lkearn</h3>
        <div>
            <img src="images/pick1.jpg" alt="">
            <img src="images/pick2.jpg" alt="">
        </div>
    </div>
</div>
