<table>
<thead>

<style>
body{background-color: bisque;
}
li{background-color: blueviolet;
}
td{background-color: greenyellow;
}
tr{background-color: aquamarine;
}
button{background-color: mediumblue;   

}

#image{
    margin: 20px;
    width: 300px;

}
#sam #image img{
    width: 300px;
height: 250px;
margin-top: 30px;
margin-left: 50px;

}

#image :hover{
    background-color: #978;
}



</style>


    <tr>
        <th>name</th>
        <th>class</th>
        <th>number</th>
    
    </tr>
</thead>
<tbody>
    <tr>
<td>samuel</td>
<td>ss1</td>
<td>0907366464728</td>
    </tr>
    <tr>
        <td>tobi</td>
        <td>ss1</td>
        <td>0805748838</td>
    </tr>
</tbody>

</table>
<table>
<thead>
<tr>
Name
Class
numbers
</tr>

</thead>
</table>
<tr>
<td>
David
Jss 3
08074326541
</td>
<td><br>
Wisdom
ss3
09087409215
</td>

<ul>
<li>bag</li>
<li>basket</li>
<li>belt</li>
</ul>
<ol>
<li>bag</li>
<li>belt</li>
<li>basket</li>
</ol>
<a href="shoe.html">shoe page</a>

<button>save</button>



<div id="sam">

<div>
    <h3>information</h3>
</div>

<div id="image">
    <img src="../drinks.jpg/drink10.jpg" alt="">
    <img src="../images/pick5.jpg" alt="">
    <img src="../food.jpg/food19.jpg" alt="">
    <img src="../images/chad-montano-MqT0asuoIcU-unsplash.jpg" alt="">
       
</div>




</div>
