<style>
.span img {
    border-top: 30px;
    border-left: 30px;
    border-right: 30px;
    height: 300px;
    width: 300px;
    margin-top: 30px;
    
}
.span {
    margin-left: 20px;
}

.span h3 {
    color: brown;
    font-size: 30px;
}
.span p {
    font-size: 18px;
}
.span div a {
    color: brown;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
}

.hkk{
    background-image: url("images/pick1.jpg");
}



</style>


<div class="span">
    <img src="images/pick1.jpg" alt="">
    <h3><h3>watch</h3></h3>
    <p> watch this movies</p>
    <p> movies price 1 thousand</p>
    <p>address no 10 forolagba street</p>
    <div>
        <a href="" type="button">buy ticket now</a>
    </div> 
</div>




