<style>
.dan{
    position: sticky;
    top: 0;
}



ul{
    display: flex;
}
ul li{
    margin-left: 20px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 30px;
    color: chartreuse;
}
table{
    margin: 20px;
    /*border-collapse: collapse;*/
}
thead{
    color: white;
    background-color: palegoldenrod;
}
th{
    border: 1px solid darkblue;
    padding: 10px;
}
tbody{
    background-color: burlywood;
}
td{
    text-align: center;
}
tr:nth-child(even){
background-color: chocolate;
color: aliceblue;
}
tr:nth-child(odd){
/*background-color: white;*/
color: darkmagenta;
}

img{
    height: 300px;
    width: 270px;

}
</style>



<div class="dan">
    <ul>
        <li><a href="english.html">maths</a></li>
        <li><a href="computer.html">english</a></li>
        <li><a href="maths.html">computer</a></li>
        
        </ul>
</div>
<table>
    <thead>
        
            <th>Name</th>
            <th>Class</th>
            <th>numbers</th>
            <th>address</th>
            <th>age</th>
        
    </thead>



<tbody>
    <tr>
    <td>samuel</td>
    <td>ss1</td>
    <td>09043729156</td>
    <td>no 5 forolagba street</td>
    <td>7</td>
    
    </tr>
    <tr>
        <td>tobi</td>
        <td>jss3</td>
        <td>08072314567</td>
        <td>16 yetude brown street</td>
        <td>13</td>
    </tr>
    <tr>
        <td>David</td>
        <td>pry3</td>
        <td>07062354891</td>
        <td>3 demola street</td>
        <td>5</td>
    </tr>
    
    <tr>
        <td>blessing</td>
        <td>ss3</td>
        <td>0806134502</td>
        <td>7 olopomeje</td>
        <td>16</td>
    </tr>
    <tr>
        <td>adeola</td>
        <td>jss1</td>
        <td>09087231456</td>
        <td>2 opc road</td>
        <td>11</td>
    </tr>



</tbody>
</table>


<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th>numbers</th>
        <th>address</th>
        <th>age</th>     
    </tr>
</thead>

<tbody>
    <tr>
        <td>adeola</td>
        <td>jss1</td>
        <td>09087231456</td>
        <td>31 opc road</td>
        <td>11</td>
    </tr>

    <tr>
        <td>tobi</td>
        <td>jss2</td>
        <td>08072314567</td>
        <td>16 yetude street</td>
        <td>12</td>
    </tr>

    <tr>
        <td>David</td>
        <td>pry6</td>
        <td>07062354891</td>
        <td>7 demola street</td>
        <td>10</td>
    </tr>

 <tr>
        <td>blessing</td>
        <td>ss3</td>
        <td>0806134502</td>
        <td>14 olopomeje</td>
        <td>16</td>
    </tr>

</tbody>
</table>
<ol>
    <li>what</li>
    <li>is</li>
    <li>your</li>
    <li>Name</li>
</ol>
<ul>
    <li>the</li>
    <li>subject</li>
    <li>are</li>
    <li>maths and english</li>
</ul>

<img src="../drinks.jpg/drink10.jpg" alt="">
<img src="../food.jpg/food1 (2).jpg" alt="">
